labs/sprint3-nodered-hello/nodered/data/flows.json
[
    {
        "id": "9b6ecc1f885929cb",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aef4678119c92d92",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "3f472d684279dae8",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "f849f07ad0baae43",
        "type": "ui-page",
        "name": "MQTT AULA 5",
        "ui": "aef4678119c92d92",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "3f472d684279dae8",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "92a1cf6f6f05d9ec",
        "type": "ui-group",
        "name": "Controle",
        "page": "f849f07ad0baae43",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "645338a5a8b4cc97",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7af3b11a3b766c89",
        "type": "ui-group",
        "name": "Sensores",
        "page": "f849f07ad0baae43",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "98f5b43308fd39ae",
        "type": "mqtt in",
        "z": "9b6ecc1f885929cb",
        "name": "",
        "topic": "home/living-room/device-001/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "645338a5a8b4cc97",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "c1f2e3d4b5a69788"
            ]
        ]
    },
    {
        "id": "c1f2e3d4b5a69788",
        "type": "change",
        "z": "9b6ecc1f885929cb",
        "name": "map temp to payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_c",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "a19d043c72bbb2eb",
                "7e1d68fc99b75868"
            ]
        ]
    },
    {
        "id": "a19d043c72bbb2eb",
        "type": "ui-gauge",
        "z": "9b6ecc1f885929cb",
        "name": "Temperatura",
        "group": "7af3b11a3b766c89",
        "order": 0,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "17",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "34",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 650,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7e1d68fc99b75868",
        "type": "debug",
        "z": "9b6ecc1f885929cb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "2f7a8f0b3f4d4f11",
        "type": "ui-switch",
        "z": "9b6ecc1f885929cb",
        "name": "Luz da sala",
        "label": "Luz da sala",
        "group": "92a1cf6f6f05d9ec",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": false,
        "topic": "",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "5c6e7d8f9011a2b3"
            ]
        ]
    },
    {
        "id": "5c6e7d8f9011a2b3",
        "type": "function",
        "z": "9b6ecc1f885929cb",
        "name": "to cmd payload",
        "func": "msg.topic = 'home/living-room/device-001/cmd';\nmsg.payload = { command: msg.payload ? 'on' : 'off' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "8d9e0f1a2b3c4d5e",
                "9a0b1c2d3e4f5061"
            ]
        ]
    },
    {
        "id": "8d9e0f1a2b3c4d5e",
        "type": "mqtt out",
        "z": "9b6ecc1f885929cb",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "645338a5a8b4cc97",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "9a0b1c2d3e4f5061",
        "type": "debug",
        "z": "9b6ecc1f885929cb",
        "name": "debug light cmd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "d2c3b4a596877665",
        "type": "mqtt in",
        "z": "9b6ecc1f885929cb",
        "name": "",
        "topic": "home/kitchen/device-002/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "645338a5a8b4cc97",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 560,
        "wires": [
            [
                "e1f2a3b4c5d6e7f8"
            ]
        ]
    },
    {
        "id": "e1f2a3b4c5d6e7f8",
        "type": "change",
        "z": "9b6ecc1f885929cb",
        "name": "kitchen temp to payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_c",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "f1e2d3c4b5a69780",
                "0a1b2c3d4e5f6071"
            ]
        ]
    },
    {
        "id": "f1e2d3c4b5a69780",
        "type": "ui-gauge",
        "z": "9b6ecc1f885929cb",
        "name": "Temperatura cozinha",
        "group": "7af3b11a3b766c89",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura cozinha",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "17",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "34",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 760,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "0a1b2c3d4e5f6071",
        "type": "debug",
        "z": "9b6ecc1f885929cb",
        "name": "debug kitchen temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "1a2b3c4d5e6f7081",
        "type": "ui-switch",
        "z": "9b6ecc1f885929cb",
        "name": "Luz da cozinha",
        "label": "Luz da cozinha",
        "group": "92a1cf6f6f05d9ec",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": false,
        "topic": "",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 660,
        "wires": [
            [
                "2b3c4d5e6f708192"
            ]
        ]
    },
    {
        "id": "2b3c4d5e6f708192",
        "type": "function",
        "z": "9b6ecc1f885929cb",
        "name": "kitchen cmd payload",
        "func": "msg.topic = 'home/kitchen/device-002/cmd';\nmsg.payload = { command: msg.payload ? 'on' : 'off' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 660,
        "wires": [
            [
                "3c4d5e6f708192a3",
                "4d5e6f708192a3b4"
            ]
        ]
    },
    {
        "id": "3c4d5e6f708192a3",
        "type": "mqtt out",
        "z": "9b6ecc1f885929cb",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "645338a5a8b4cc97",
        "x": 720,
        "y": 640,
        "wires": []
    },
    {
        "id": "4d5e6f708192a3b4",
        "type": "debug",
        "z": "9b6ecc1f885929cb",
        "name": "debug kitchen cmd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "5d6e7f8091a2b3c4",
        "type": "mqtt in",
        "z": "9b6ecc1f885929cb",
        "name": "",
        "topic": "home/garage/device-003/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "645338a5a8b4cc97",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 760,
        "wires": [
            [
                "6e7f8091a2b3c4d5"
            ]
        ]
    },
    {
        "id": "6e7f8091a2b3c4d5",
        "type": "change",
        "z": "9b6ecc1f885929cb",
        "name": "garage temp to payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_c",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 760,
        "wires": [
            [
                "7f8091a2b3c4d5e6",
                "8f9011a2b3c4d5e6"
            ]
        ]
    },
    {
        "id": "7f8091a2b3c4d5e6",
        "type": "ui-gauge",
        "z": "9b6ecc1f885929cb",
        "name": "Temperatura garagem",
        "group": "7af3b11a3b766c89",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura garagem",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "17",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "34",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 700,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "8f9011a2b3c4d5e6",
        "type": "debug",
        "z": "9b6ecc1f885929cb",
        "name": "debug garage temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "9f0a1b2c3d4e5f60",
        "type": "ui-switch",
        "z": "9b6ecc1f885929cb",
        "name": "Luz da garagem",
        "label": "Luz da garagem",
        "group": "92a1cf6f6f05d9ec",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": false,
        "topic": "",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "0f1a2b3c4d5e6f70"
            ]
        ]
    },
    {
        "id": "0f1a2b3c4d5e6f70",
        "type": "function",
        "z": "9b6ecc1f885929cb",
        "name": "garage cmd payload",
        "func": "msg.topic = 'home/garage/device-003/cmd';\nmsg.payload = { command: msg.payload ? 'on' : 'off' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 860,
        "wires": [
            [
                "1f2a3b4c5d6e7f80",
                "2f3a4b5c6d7e8f90"
            ]
        ]
    },
    {
        "id": "1f2a3b4c5d6e7f80",
        "type": "mqtt out",
        "z": "9b6ecc1f885929cb",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "645338a5a8b4cc97",
        "x": 720,
        "y": 840,
        "wires": []
    },
    {
        "id": "2f3a4b5c6d7e8f90",
        "type": "debug",
        "z": "9b6ecc1f885929cb",
        "name": "debug garage cmd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 880,
        "wires": []
    }
]